html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.hero {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  border: 2px solid purple;
  background-image: linear-gradient(to bottom right, #e239e2, #880288);
  color: white;
  border-radius: 10px;

}

.hero h1 {
  margin: 0;
}

.my_image {
  max-width: 80%;
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
}
.header-info {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #FF69B4;
}

a:hover {
  color: #ff0080;
}
@media only screen and (min-width: 992px) {
  .hero {
    height: 400px;
    display: flex;
    align-items: center;
    width: 60%;
  }

  .header-info {
    flex-grow: 1;
    margin-bottom: 0;
  }
  .my_image {
    max-height: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  .icon {
    font-size: 1.5em;
  }
}